:root {
    --bg-info: skyblue;
    --bg-important: rgb(49, 81, 94);
    --text-important-color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body.active::after {
    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(135, 207, 235, 0.363);
    z-index: 0;
}

#add-book-form {
    background: skyblue;
    border-radius: 1rem .5rem;
    box-shadow: inset 5px 5px 5px rgb(49, 81, 94);
    display: none;
    left: 50%;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in;
    width: clamp(25rem, 50%, 35rem);
    z-index: 1;
}

#add-book-form.active {
    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.info {
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 15%;
    text-align: center;
}

.book {
    background: var(--bg-info);
    text-align: center;
}

th {
    background: var(--bg-important);
    color: var(--text-important-color);
}

table {
    padding: 1rem;
    vertical-align: middle;
}

button {
    align-self: center;
    width: max-content;
}

.readStatus {
    appearance: none;
    width: 4ch;
    height: 2ch;
    padding: 1rem;
    position: relative;
    transform: translateY(25%);
    background: darkblue;
    border-radius: 1rem;
}

.readStatus::after {
    position: absolute;
    content: "";
    left: 0;
    height: 2ch;
    width: 2ch;
    background: #fff;
    border-radius: 100%;
    transition: all 250ms ease;
}

.readStatus.checked::after {
    left: 2ch;
}